{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href= "{% static 'logg/css/detail.css' %}">
    <title>Detail Page</title>

</head>
<body>
    <header>
        <div class="header">
            <a href="/login/inf/">
                <nav>
                    <h1>AdBridge <span>Influencer</span></h1>
                </nav>
            </a>

            <a href="/login/mypage/" class="my-page">My Page</a>
        </div>
    </header>
    <main>
        <section class="main-content">
            <div class="image-placeholder">
                <img src={{ad_data.thumbnail.url}} alt=static.img>
            </div>
            <div class="info-section">
                <h2>제목: {{ad_data.title}}</h2>
                <ul>
                    <li><strong>광고 상품</strong>: {{ad_data.product_name}}</li>
                    <li><strong>카테고리</strong>: {{ad_data.category}}</li>
                    <li><strong>SNS</strong>: {{ad_data.sns}}</li>
                    <li><strong>광고 금액</strong>: {{ad_data.min_budget}}원~{{ad_data.max_budget}}원</li>
                </ul>
                <div class="button-section">
                    <form name="form">
                    <button type="button" onclick="button_event();">신청하기</button>
                    <button class="inquiry-button">문의하기</button>
                    </form>
                </div>
            </div>
        </section>
        <section class="advertiser-info">
            <h3>광고주 정보</h3>
            <div class="advertiser-details">
                <div class="advertiser-image">
                    <img src={{ad_data.user.profile.img.url}} alt=static.img></img>
                </div>
                <div class="advertiser-text">
                    <p>이름: {{ad_data.user.username}}</p>
                    <p>주요 콘텐츠: {{ad_data.user.profile.content}}</p>
                    <p>원하는 플랫폼: {{ad_data.user.profile.platform}}</p>
                    <p>원하는 가격: {{ad_data.user.profile.min_budget}}원 ~ {{ad_data.user.profile.max_budget}}원</p>
                </div>
            </div>
        </section>
        <section class="details-info">
            <h3>상세정보</h3>
        <div class="details-image-container">
            <img src="{{ad_data.product_image.url}}" alt="Product Image" class="details-image">
        </div>
</section>
        </section>
        <footer>
            <p>{{ad_data.description}}</p>
        </footer>
    </main>
    <footer class="footer">
    <p>© 2024 AdBridge. All rights reserved.</p>
    </footer>

<script src="{% static 'logg/js/detailpageadver.js'%}"></script>
</body>
</html>
