{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>AdBridge Welcome</title>
  <link rel="stylesheet" href="{% static 'logg/css/hello.css' %}">
</head>
<body>
  <div class="container">
    <div class="content">
      <h1>AdBridge</h1>
      <p class="welcome-message">Welcome! 우리는 이런 서비스고 어쩌구 저쩌구 이런 장점 저런 장점 갖고 있어요~ 이거 쓰면 짱편하고 좋을텐데~ 안쓸건가??</p>
      <a href="/login/" class="start-button">Start</a>
    </div>
  </div>

</body>
</html>
